{% extends "global/base.html" %}
{% load static %}
{% block title %}Quem somos{% endblock title %}
{% block bloco__conteudo %}
<section class="bloco">
    <div class="bloco__conteudo">
        <div>
            <h1 class="bloco__conteudo__titulo">Sobre Nós</h1>
        </div>
        <div class="bloco__conteudo__img-txt">
            <img src="{% static "principal/images/quem_somos.jpg" %}" alt="Nossa Equipe">
            <p>Informações sobre nossa equipe e missão. Aqui você pode descrever a paixão por sustentabilidade, a expertise em eletrônica e o compromisso com a reciclagem e reutilização de componentes. Fale sobre os membros fundadores, seus backgrounds e o que os motivou a criar este projeto.</p>
        </div>
        <p>Detalhes adicionais sobre a história do projeto, nossos valores e como pretendemos impactar a comunidade e o meio ambiente.</p>
    </div>
</section>
{% endblock bloco__conteudo %}


